<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="/assets/logo/favicon.ico" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/header-menu.css" />
        <link rel="stylesheet" href="/css/article.css" />
        <title>Edit Posts &mdash; Alec Fernandes</title>
    </head>
    <body class="preload">
        {{> smallheader}}
        <main>
            <h1 class="centered">Edit Posts</h1>
            <h2>Drafts</h2>
            <ul>
                {{#each drafts}}
                    <li>
                        <a
                            href="/admin/?id={{post_id}}&type=drafts"
                        >{{title}}</a>
                        <small>
                            &mdash;
                            <span class="date-posted">{{date}}</span>
                        </small>
                    </li>
                {{/each}}
            </ul>
            <h2>Published</h2>
            <ul>
                {{#each posts}}
                    <li>
                        <a
                            href="/admin/?id={{post_id}}&type=posts"
                        >{{title}}</a>
                        <small>
                            &mdash;
                            <span class="date-posted">{{date}}</span>
                        </small>
                    </li>
                {{/each}}
            </ul>
        </main>
        <footer>
            <div id="footer-container">
                <a href="/">home</a>
                <a href="/blog">blog</a>
                <a href="/admin/?is_new=true">new post</a>
                <button id="sign-out">sign out</button>
            </div>
        </footer>
        <script src="/bundle.js"></script>
        <script src="/scripts.js"></script>
    </body>
</html>