<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/header-menu.css" />
        <link rel="stylesheet" href="/css/article.css" />
        <title>Edit Posts &mdash; Alec Fernandes</title>
    </head>
    <body class="preload">
        <header class="small-header-container">
            <div class="small-header">
                <h1><a href="/">Alec Fernandes</a></h1>
                <form class="search-form" action="/search/">
                    <input type="text" name="query" /><button>search</button>
                </form>
            </div>
        </header>
        <main>
            <h1 class="centered">Edit Posts</h1>
            <h2>Drafts</h2>
            <ul>
                {{#each drafts}}
                    <li>
                        <a
                            href="/admin/?id={{post_id}}&type=drafts"
                        >{{title}}</a>
                        <small>&mdash; {{date}}</small>
                    </li>
                {{/each}}
            </ul>
            <h2>Published</h2>
            <ul>
                {{#each posts}}
                    <li>
                        <a
                            href="/admin/?id={{post_id}}&type=posts"
                        >{{title}}</a>
                        <small>&mdash; {{date}}</small>
                    </li>
                {{/each}}
            </ul>
        </main>
        <footer>
            <a href="/">home</a>
            <a href="/admin/?is_new=true">new post</a>
            <a href="/sign-out">sign out</a>
        </footer>
        {{!
        <script src="/bundle.js"></script>
        }}
        <script src="/scripts.js"></script>
    </body>
</html>