<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/css/home.css" />
    </head>
    <body>
        <header>
            <h1>Alec Fernandes</h1>
            <div id="header-forms">
                <form action="/search/">
                    <input type="text" name="query" />
                    <button>search</button>
                </form>
                <section>
                    <p>get new posts by email:</p>
                    <form>
                        <input type="email" name="email" placeholder="email" />
                        <button>subscribe</button>
                    </form>
                </section>
            </div>
        </header>
        <main>
            <div id="main-container">
                <section>
                    <h2 class="small-link-heading">Latest Post
                        <a href="./blog">(read all)</a></h2>
                    <div class="content-bubble post">
                        <a
                            href="/blog"
                            class="feature-image"
                            style="
                            background-image: url('{{latest_post.feature_image}}');
                        "
                        ></a>
                        <div class="content">
                            <h3><a href="./blog">{{latest_post.title}}</a></h3>
                            <h4>{{latest_post.subtitle}}</h4>
                            <p class="date-posted">{{latest_post.date}}</p>
                            <p><a href="./blog">(read more)</a></p>
                        </div>
                    </div>
                </section>
                <section>
                    <h2>Projects</h2>
                    <div id="projects">
                        {{#each projects}}
                            <a href="/post/?id={{this.post_id}}">
                                <div>
                                    <div
                                        class="project-image"
                                        style="background-image: url('{{this.image}}');"
                                    >
                                    </div>
                                    <span>{{this.name}}</span>
                                </div>
                            </a>
                        {{/each}}
                    </div>
                </section>
                <section>
                    <div class="content-bubble gallery">
                        <h2 class="content">
                            <a href="/gallery">View Gallery</a>
                        </h2>
                        <a
                            href="/gallery"
                            class="feature-image"
                            style="
                            background-image: url('/assets/gallery/house-of-loud-min.gif');
                        "
                        ></a>
                    </div>
                </section>
                <section id="tags">
                    <h2>Tags</h2>
                    <ul>
                        {{#each tags}}
                            <li>
                                <a href="/search/?tag={{this}}">{{this}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </section>
            </div>
        </main>

        <script src="/scripts.js"></script>
        <script src="/bundle.js"></script>
    </body>
</html>