<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/header-menu.css" />
        <link rel="stylesheet" href="/css/article.css" />
        {{{meta_tags}}}
    </head>
    <body class="preload">
        {{> smallheader}}
        {{> navmenu}}
        <main>
            <article>
                <h2 class="title">{{post.title}}</h2>
                {{#if is_draft}}
                    <div>
                        <a href="/admin/?id={{post.post_id}}&type=drafts">
                            edit
                        </a>
                    </div>
                {{/if}}
                <h3 class="subtitle">{{post.subtitle}}</h3>
                <p class="date-posted">{{post.date}}</p>
                <figure>
                    <img src="{{post.feature_image}}" />
                    <figcaption>{{{post.feature_image_caption}}}</figcaption>
                </figure>
                <div>{{{post.content}}}</div>
                <div class="tags">
                    tags:
                    {{#each post.tags}}{{#if @index}}, {{/if}}<a
                            href="/search/?tag={{this}}"
                        >{{this}}</a>{{/each}}
                </div>
                <button
                    class="share-button"
                    onclick="copyLink('{{post.post_id}}')"
                >
                    share
                    <img src="/assets/icons8-share-24.png" alt="" />
                </button>
            </article>
        </main>
        <footer>
            <a href="/">home</a>
            <a href="/admin">admin</a>
        </footer>
        <script src="/scripts.js"></script>
        <script src="/bundle.js"></script>
    </body>
</html>