<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {{{meta_tags}}}
        <link rel="icon" type="image/x-icon" href="/assets/logo/favicon.ico" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/header-menu.css" />
        <link rel="stylesheet" href="/css/article.css" />
    </head>
    <body class="preload">
        <header class="small-header-container">
            <div class="small-header">
                <h1><a href="/">Alec Fernandes</a></h1>
                <h2>{{search_type}}: {{query}}</h2>
                {{!-- <div class="all-tags">
                    related tags:
                    {{#each top_tags}}{{#if @index}}, {{/if}}<a
                            href="/search/?tag={{this}}"
                        >{{this}}</a>{{/each}}
                </div> --}}
                <form class="search-form searching single-line-form" action="/search/">
                    <input type="text" name="query" /><button>search</button>
                </form>
            </div>
        </header>
        {{> navmenu}}
        {{> pagination}}
        <main>
{{!-- no white space before this partial in case there are
preformatted <xmp> code blocks: --}}
{{> multipost}}
        </main>
        {{> pagination}}
        {{> stickycontact}}
        {{> footer}}
        <script src="/scripts.js"></script>
        <script src="/bundle.js"></script>
    </body>
</html>